{% extends "base.html" %}

{% block title %} Dinner - Good {% endblock %}

{% block head %}
      {{ super() }}
      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/info.css') }}">
      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/template.css') }}">
{% endblock %}

{% block body %}

<div class = "wrap">
	<div class = "inside">
		<script>localStorage.clear();</script>

		<img src="/static/pics/summary.jpg" id = "background_pic" style="position: absolute; top: 80px; left: 0px;"  height="779px" width="1360px"/>



		<script>pageIsLoaded();</script>
		<div id="mheader"></div>
		<div id="nwcontent">
			<div>
				<table id="table1" class="tablearea" border="1" cellpadding="5" cellspacing="5" style="position: absolute; left: 50px; top:250px; width: 900px;">
				<thead>
				<tr>
				<td colspan="4">FOOD GROUP RECOMMENDATIONS</td>
				</tr>
				</thead>
				<tr>
				<th>Food Group</th>
				<th>Daily Required Servings</th>
				<th>Serving Size</th>
				<th>Single Serving Example</th>
				</tr>
				<tr>
				<td>Grains</td>
				<td>5</td>
				<td>1 ounce</td>
				<td>1 slice of bread</td>
				</tr>
				<tr>
				<td>Vegetables</td>
				<td>1.5</td>
				<td>1 cup (cooked/raw) </td>
				<td>1 cup spinach (cooked), 1 cup broccoli (raw)</td>
				</tr>
				<tr>
				<td>Fruits</td>
				<td>1.5</td>
				<td>1 cup </td>
				<td>1 large orange</td>
				</tr>
				<tr>
				<td>Dairy</td>
				<td>2.5</td>
				<td>1 cup </td>
				<td>1 cup milk</td>
				</tr>
				<tr>
				<td>Protein</td>
				<td>4</td>
				<td>1 ounce </td>
				<td>1 egg</td>
				</tr>
				</table>
			</div>
			<div>
				<table id="table2" class="tablearea" border="1" cellpadding="5" cellspacing="5" style="position: absolute; left: 50px; top:550px; width: 800px;">
				<thead>
				<tr>
				<td colspan="4">CALORIE, SATURATED FAT, AND SUGAR RECOMMENDATIONS</td>
				</tr>
				</thead>
				<tr>
				<th>Category</th>
				<th>Daily Recommended Amount</th>
				<th>Example</th>
				</tr>
				<tr>
				<td>Calories</td>
				<td>1600</td>
				<td>1 slice of pepperoni pizza = 285 calories</td>
				</tr>
				<tr>
				<td>Saturated Fat</td>
				<td>18 grams</td>
				<td>1 slice of cheese = 6 grams </td>
				</tr>
				<tr>
				<td>Sugar</td>
				<td>40 grams</td>
				<td>1 can of soda = 33 grams</td>
				</tr>
				</table>
			</div>
		</div>

		<div id="mfooter"></div>

		<div class="rcorners2" style = "position:absolute; top:115px; left:500px;"> </div>

		<div class="boxed" style = "position: absolute; top: 135px;left: 523px;">
		Food for Thought:
		These guidelines apply to children 4-8 years old.
		</div>

		<a class="btn" href="/" style="position: absolute; top: 110px; left:  1370px;">Again</a>
		<a class="btn" href="/summary" style="position: absolute; top: 750px; left:  1370px;">Back</a>
	</div>
</div>
{% endblock %}