{% extends "base.html" %}

{% block title %} Setup {% endblock %}

{% block head %}
	{{ super() }}
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/setup.css') }}">
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/sunburst.css') }}">
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/template.css') }}">
{% endblock %}

{% block body %}

<div class = "wrap">
	<div class = "inside">

		<script>localStorage.clear();</script>
		<script>pageIsLoaded();</script>
		<img src="/static/pics/setup_2.png" id="background_pic" style="position: absolute; top: 80px; left: 0px;"  height="779px" width="1360px"/>

		<div id="mheader"></div>
		<div id="nwcontent">
        	<div>
				<p id="clabel1" style="text-align:center;">&nbsp;</p>
				<div id="chart1" class="chartarea" style = "position: absolute; top: 420px; left: 260px;"></div>
				<div id="chart2" class="chartarea" style = "position: absolute; top: 300px; left: 660px;"></div>
				<div id="chart3" class="chartarea" style = "position: absolute; top: 225px; left: 700px;"></div>
			</div>
		</div>
		<div id="mfooter"></div>
		<script src="/static/js/d3.js"></script>
		<script src="/static/js/variable_sunburst.js"></script>
		<script src="/static/js/d3wrapper_stackedbar.js"></script>
		<script src="/static/js/d3wrapper_horizontalbar.js"></script>
		<script src="/static/js/setup.js"></script>
		<script>pageIsLoaded();</script>

		<script>				
			function getMeal(){
				var meal_init = "meals";
				localStorage.setItem("meal", meal_init);
				var prev_horiz_data = ".66,.55,.62";
				drawStackedBar();
				var horiz_array_test = prev_horiz_data.split(',');
				for(a in horiz_array_test){horiz_array_test[a] = parseFloat(horiz_array_test[a]);}
				var graph_array_1 = [0,0,0];
				for(a in horiz_array_test){(graph_array_1[a] = Math.min(horiz_array_test[a], 1.15000001));}
				var graph_string_1 = graph_array_1.toString();
				drawHorizontalBar(graph_string_1);
			}
			
			function setMeal(){
				var current_meal = document.querySelector('input[name="M1P1"]:checked').value;
				var prev_horiz_data = ".66,.55,.62";
				var meal = localStorage.getItem("meal")
				if(meal.length == 6){
					meal = meal.substring(0,5);
				}
				
				localStorage.setItem("meal", meal + current_meal);
				d3.select("#chart2").selectAll("svg").remove();
				if(current_meal == 1){var horiz_data = ".32,.33,.13";}
				if(current_meal == 2){var horiz_data = ".5,.67,.505";}
				if(current_meal == 3){var horiz_data = ".18,.11,1.005";}
				
				var prev_array = prev_horiz_data.split(",");
				for(a in prev_array){prev_array[a] = parseFloat(prev_array[a]);}
				var horiz_array = horiz_data.split(",");
				for(a in horiz_array){horiz_array[a] = parseFloat(horiz_array[a]);}

				for(a in horiz_array){horiz_array[a] = horiz_array[a] + prev_array[a];}
				
				localStorage.setItem("horiz_data", horiz_array.toString());
				d3.select("#chart3").selectAll("svg").remove();		

				var graph_array = [0,0,0];
				for(a in horiz_array){(graph_array[a] = Math.min(horiz_array[a], 1.15000001));}
				var graph_string = graph_array.toString();
				localStorage.setItem("graph_string", graph_string);		
			}	
		</script>

		<script>getMeal();</script>

		<script>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			function update(){
							
				localStorage.setItem("button_value", document.querySelector('input[name="M1P1"]:checked').value);
				$.getJSON($SCRIPT_ROOT + '/write_setup/', {
					data :   localStorage.getItem("button_value"),
					meal :   'Setup',
					}, function(data) {
						console.log(data.result);
					});

				setMeal();
				drawStackedBar();
				drawHorizontalBar(localStorage.getItem("graph_string"));
				/*localStorage.setItem("button_value", document.querySelector('input[name="M1P1"]:checked').value);*/
			}
		</script>

		<div class="triangle-right" style = "position:absolute; top: 100px; left: 200px; width: 200px;">Hi, I'm Florette!<br/>You're going to help me pick my food!</div>

		<div class="triangle-right" style = "position:absolute; top: 530px; left: 125px; width: 120px;">Click on each<br/>meal to see <br/>how many servings <br/> of a food group <br/>it has!</div>

		<div class="triangle-right1" style = "position:absolute; top: 650px; left: 900px; width: 250px;">Click on each meal choice to<br/> see how the charts change!</div>

		<div class="triangle-right1" style = "position:absolute; top: 70px; left: 750px; width: 280px;">Avoid red!  Green or yellow is best!</div>

		<div class="rcorners2" style = "position:absolute; top:250px; left:700px;"> </div>

		<a class="btn" onclick = update() style="position: absolute; top: 600px; left:  700px;"> <input type="radio" name="M1P1" value="1"></a>
		<a class="btn" onclick = update() style="position: absolute; top: 600px; left:  920px;"> <input type="radio" name="M1P1" value="2"></a>
		<a class="btn" onclick = update() style="position: absolute; top: 600px; left:  1140px;"> <input type="radio" name="M1P1" value="3"></a>

		<p id = "p1" style="position: absolute; top: 600px; left:  750px; width: 100px;">Choice 1</p>
		<p id = "p2" style="position: absolute; top: 600px; left:  970px; width: 100px;">Choice 2</p>
		<p id = "p3" style="position: absolute; top: 600px; left:  1190px; width: 100px;">Choice 3</p>

		<a class="btn" href="/breakfast_draft" style="position: absolute; top: 110px; left:  1370px;">Next</a>
		<a class="btn" href="/" style="position: absolute; top: 750px; left:  1370px;">Back</a>
	</div>
</div>
{% endblock %}
